:root {
  --primary: #271A45;
  --primary-light: #271A45AB;
  --background: #D9CDF7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {  
	background-color: var(--background);
  color: var(--primary);
  overflow-x: hidden;
}
