:root {
  --primary: #323142;
  --primary-light: #323142AB;
  --background: #d6d6d6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {  
	background-color: var(--background);
  color: var(--primary);
  overflow-x: hidden;
}
